@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {  
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "VT323", Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header h1 {
    padding: 0  2rem;
    color: #222;
    font-size: 5rem;
    margin: 2rem 0px;
}

.calculator {
    width: 30vw;
    min-width: 300px;
    min-height: 375px;
    font-size: 4rem;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

#display {
    display: flex;
    background-color: beige;
    flex-direction: column;
    height: calc(30vw / 4);
    min-height: 5rem;
    border: 4px solid #222;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 2px;
}

#display div {
    border: none;
    text-align: right;
}

#display .current-input {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 5rem;
}

.calculator-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #222;
    border-radius: 8px;
    height: calc(30vw / 4);
    min-height: 4rem;
    transition: border 0.2s;
    transition: background-color 0.4s, color 0.4s, border 0.2s;
}

.calculator-grid .operator {
    background-color: #ccc;
}

.calculator-grid #enter {
    background-color: #444;
    color: whitesmoke;
}

.calculator-grid div:hover {
    border: 3px solid orange;
}

.number:active, .operator:active {
    background-color: #222;
    color: white;
}

#enter:active {
    background-color: #ddd;
    color: #222;
}

#clear {
    background-color: #ba181b;
    color: whitesmoke;
}

#clear:active {
    background-color: #f09fa1;
}

footer {
    margin-bottom: 1rem;
}